<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nodejs con Base de Datos</title>
</head>
<body>
    <table border="1px solid #000">
        <tr>
            <td>Codigo</td>
            <td>Nombre</td>
            <td>Descripcion</td>
        </tr>
        <% records.forEach(function(cursos){ %>
        <tr>
            <td> <%= cursos.idCurso  %> </td>
            <td> <%= cursos.nombre  %> </td>
            <td> <%= cursos.descripcion  %> </td>
        </tr>
        <% }); %>

    </table>
</body>
</html>